
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container{
   width: 500px;
   background-color: grey;
  margin-top: 10vh;  
  padding: 30px;
   color: white;
   border-radius: 50px;
}
.container h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

#input-task{
  padding: 20px;
  border-radius: 50px;
  width: 70%;
  font-size: 18px;
  border: none;
  outline: none;

}
#input-task:focus{
    outline: 2px solid green;
}
#add-task{
   padding: 20px;
   border-radius: 50px;
   border:none;
   font-size: 18px;
   background-color: green;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
#add-task:hover{
    background-color: rgb(2, 112, 2);
}
#add-task:active{
    background-color: rgb(0, 53, 0);
}
#tasks-list{
    
    font-size: 18px;
    
    

}
ul li{
    position: relative;
    margin-top: 22px;
    list-style-type: none;
    background-color: rgb(201, 201, 220);
    padding:20px 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: black;
    
    
}
li span:hover{
    background-color: rgb(239, 231, 231);
    border-radius: 50px;
    
}
li span{
    flex-grow: 1;
    padding-Left: 10px;
}
.completed{
    text-decoration: line-through;
    color:rgb(180, 175, 175);
}
li img{
    margin-left:10px;
    width: 25px;
    cursor: pointer;
    align-items: flex-end;  
}
li img:hover{
    box-shadow: 0 0 2px;
    padding: 2px;
    background-color: rgb(251, 246, 246);
}
li img:active{
    background-color: rgb(0, 53, 0);
}

.editbox{
    position: absolute;
    display: flex;
    
    width: 60%;
    height: 90%;
   gap: 2px;
}
#edited-task{
   width: 100%;
   padding: 5px;
   outline: 2px solid rgb(0, 82, 31);
   
}
#update-task{

    padding: 2px 10px ;
    border: none;
    background-color: green;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
#update-task:hover{
    background-color: rgb(0, 53, 0);
}

@media screen and (max-width:500px) {
    .container{
        height: 100vh;
        margin:0;
        border-radius: 0;
        text-align: center;
        background-color: rgb(83, 83, 83);
        
    }
    #input-task{
        width: 100%;
        margin-bottom: 10%;
    }
}